.body{
    height : 100px;
    width : 100px;
    background-color: blue;
    border: 20x solid black;
    position : relative;
    top : 50px;
    bottom : 10px;
    /*In static if you do any change in top,bottom,left,right,z-index no change will be reflected*/
    /*In relative the change can be achieved related to static */
    /*In absolute accordind to the parent element*/
    /*In fixed it will remain fixed or override other elements*/
}

.box{
    height: 100px;
    width:100px;
    background-color: red;
    position : absolute;
    top : 50px;
}